body {
	margin: 0;
	background-color:#fdf5f5;
	font-family: 'Montserrat', sans-serif;
	max-height:100%;
}
#menu {
	padding:20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#menu .title,.text{
	padding:10px;
	margin:15px;
}
.title{
	font-family: 'Merriweather', serif;
	font-size: 30px;
}
.text{
	font-size:14px;
}
.diarytext{
	font-size:14px;
}
#menubutton{
	margin:15px;
	border: 2px solid black;
	background-color: white;
	padding:20px 50px;
	font-size:12px;
	cursor:pointer;
}
#menubutton span{
	cursor: pointer;
  	display: inline-block;
  	position: relative; 	
}
#menubutton span:after{
	content: '\00bb';
  	position: absolute;
  	opacity: 0;
  	top: 0;
  	right: -10px;
}
#menubutton:hover span{
	transition: 0.25s ;
	padding-right:10px;
	background-color:black;
	color:white;
}
#menubutton:hover span:after{
	opacity:1;
	right:0;
}
#menubutton:hover{
	transition: 0.25s ;
	background-color: black;
}
#menubutton:focus{
	outline:none;
}
.inactive{
	display:none!important;
}
#diary{
	width:100vw;
	height:calc(100vh - 60px);	
	margin-top: 60px;
	display: flex;
    flex-direction:column;
}
#main{
	height:calc(100vh - 70px);
	width:100vw;
	display: flex;
    flex-direction: column;
    align-items: center;
}
#main div{
	padding:10px;
	margin:5px;
}
#control,#editmode{
	background-color:white;
	height:70px;
	display: flex;
    align-items: center;
}
#control{
	justify-content: space-around;
}
#control div{
	cursor:pointer;
}
#subdiary,textarea{
	font-family: 'Merriweather', serif;
	background-color: white;
	width:60vw;
	height:40vh;
	line-height:1.5em;
	background: rgba(255, 255, 255, 0.5);
}
#subdiary{
	background-color:#fdf5f5;
	cursor:pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: flex-start;
}
.inline{
	border-bottom: solid 2px black;
}
#editmode{
    justify-content: center;
}
#editmode img{
	cursor: pointer;
}
#subdiary div{
	cursor: default;
	width:50vw;
	box-shadow:6px 6px 6px rgba(20%,20%,40%,0.5),inset 1px 1px 4px 2px rgba(20%,20%,40%,0.5);
	background-color: #DDDDDD;
	border:2px solid black;
	display:flex;
	flex-direction:row;
    justify-content: space-between;
    align-items: center;
    overflow:hidden;
    opacity:1;
}
#subdiary div:hover{
	transition: 1s;
	opacity :0.8;
	background-color: #666666;
}
#subdiary i{
	font-size:20px;
}
.trashcan:hover{
	color: red;
	cursor:pointer;
}
#home:hover{
	transition: 0.5s;
	color:red;
}
#backward:hover,#forward:hover{
	-webkit-filter: invert(100%);
}
@media (max-width: 500px) {
    #subdiary i{
    	font-size:12px;
    }
    #subdiary div{
    	width:70vw;
    }
    .text{
    	font-size:8px;
    }
    #navtitle{
    	font-size:10px;
    	padding:5px;
    }
    .date{
    	display:inline-block;
    	font-size:15px;
    }
}
.site-navigation {
	display: block;
	font-family: 'Titillium Web', sans-serif;
	font-size: 16px;
	font-weight: bold;
}
.site-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.site-navigation li {
	display: block;
	float: left;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
}
#navtitle{
	padding :10px;
	border-bottom:2px solid black;
}
#navtitle:hover{
	background-color: #DDDDDD;
	box-shadow: 0px 15px 20px rgba(220,220,220,0.5);
	
}
.dropdown li{
	background-color:white;
	margin:0;
}
.site-navigation li a {
  	color: black;
  	text-decoration: none;
  	display: block;
}
.site-navigation li:hover {
	cursor: pointer;
}
.site-navigation ul li ul {
	visibility: hidden;
	position: absolute;
  	transition: visibility 0.1s ease-in;
  	margin-top:0;
	left: 0;
	z-index: 999;
}
.site-navigation ul li:hover > ul,
.site-navigation ul li ul:hover {
   visibility: visible;

}
.site-navigation ul li ul li {
	clear: both;
	padding: 5px 0 5px 18px;
  	width: 100%;
}

.site-navigation ul li ul li:hover {
	background-color: #DDDDDD;
}
#nav{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content:space-around;
}
.g-signin2 > div{
  margin: 0 auto;
}
